
.section01{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 15px 35px;
    background-color: #000;
}
/* .section01 img {
    height: 20px;
    width: 20px;
    color: #fff;
} */

.section img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    filter: invert(1); 
  }
  .section a{
    font-family: var(--button-font);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }

  .section01 img{
    height: 20px;
    width: 20px;
  }

  
